<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArUAYBzEB-NiGHf1QHE0OtmapxDZXQYVo</string>
	<key>GCM_SENDER_ID</key>
	<string>909932873535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teslalogin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>tesla-login-c2e18</string>
	<key>STORAGE_BUCKET</key>
	<string>tesla-login-c2e18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909932873535:ios:bd8c1b619a9c866259758a</string>
</dict>
</plist>